.container1{
background-color:#D3D3D3;
text-align:center;

}
.container2{
background-color:white;
}
.d1{
background-color:purple;
color:white;
border-radius:5px;
float:right;
width:50px;
text-align:center;
}

.m2{
text-align:center;
background-color:white;
}
.main{
background-color:white;
margin-top:50px;
margin-bottom:100px;
margin-right:100px;
margin-left:100px;
}

